{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-md-12">
      <div class="float-left">
        <h1 class="mb-0">{{event.name}}</h1>
      </div>

      <div class="float-right text-right">
        <h2 id="exchange-rate">{{event.status}}</h1>
      </div>
    </div>
  </div>

  <!-- Destination -->
  <div class="row">
    <div class="col-md-12">
      <div class="card my-3">
        <div class="card-body">
          <div class="media">
            <img class="align-self mr-5" src="{{event.image}}" alt="{{event.name}}" style="max-width: 500px; padding-bottom: 20px">
            <div class="media-body">
              <h5 class="mt-0">{{event.name}}</h5>
              <p>{{event.description}}</p>
              <p><b>Tickets Available:</b> {{event.ticketQTY}}</p>
              <p><b>Event Date:</b> {{event.date}}</p>
              <p><b>Created by:</b> {{event.users.name}}</p>
              {% if current_user.admin == 1 %}
              <a href="{{ url_for ('main.eventCreation') }}" class="btn btn-booknow" tabindex="-1" role="button"
                aria-disabled="true">Edit event</a>
              {% elif current_user.is_authenticated %}
              <a href="{{url_for('.new_booking')}}" class= "btn btn-bookniw " role="button">Book Now</a>
              <!--<button type="button" class="btn btn-booknow" data-bs-toggle="modal" data-bs-target="#staticmodal">Book
                Now!</button>--> 
              {% else %}
              <a href="{{ url_for ('auth.login') }}" class="btn btn-booknow" tabindex="-1" role="button"
                aria-disabled="true">Log in
                to book tickets</a>
              {% endif %}
              <div class="modal fade" id="staticmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Booking</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Tickets</span>
                        <input type="text" class="form-control" placeholder="Quantity of tickets" aria-label="Tickets"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-booknow" data-bs-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-booknow">Book</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Comments-->
    <div class="row">
      <div class="col-md-12">
          <h2>Comments</h1>
      </div>
  </div>
  <div>
    {{wtf.quick_form(cform, "/event/{0}/comment".format(1))}}
  </div>
  {% for comment in event.comments %}
    <div class="row border-bottom">
        <div class="col-md-12">
            <b>{{comment.user}} <span class="ml-2 text-muted">{{comment.created_at}}</span></b>
            <p>{{comment.text}}</p>
        </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}