{% extends 'base.html' %}

{% block header %}
<header>

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand nav" href="#">
              <img src="img/navbarLogo.PNG" alt="" width="120" height="45">
              <!-- <h1 style="font-size:30px;">GENERIC FESTIVAL</h1> -->
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="eventCreation.html">Event Creation</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="userBookingHistory.html">Booking History</a>
                  </li>
                  <li class="nav-item me-auto">
                      <a class="nav-link" href="userBookingHistory.html">Login</a>
                  </li>
                  <li class="nav-item me-auto">
                      <a class="nav-link" href="userBookingHistory.html">Logout</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
{% endblock %}



<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
  <div class="container-fluid p-10">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active  ratio ratio-21x9">
          <img src="img/carousel1.jpg" class="d-block w-100" alt="...">

        </div>
        <div class="carousel-item  ratio ratio-21x9">
          <img src="img/carousel2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item  ratio ratio-21x9">
          <img src="img/carousel3.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


  <div class="cat-wrap">
    <h1 style="font-size:60px;">FEATURED EVENTS</h1>
    <input type="radio" id="all" name="genre" />
    <label for="all">All</label>
    <input type="radio" id="rock" name="genre" />
    <label for="rock">Rock</label>
    <input type="radio" id="pop" name="genre" />
    <label for="pop">Pop</label>
    <input type="radio" id="edm" name="genre" />
    <label for="edm">EDM</label>

 {% block content %}
    <div class="clr"></div>

    <div class="cat-card rock">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/rock1.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Watch AC/DC perform their recent hit album Power Up live!.</p>
          <h5>Booked!</h5>
        </div>
      </div>
    </div>

    <div class="cat-card rock">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/rock2.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Upcoming!</h5>
        </div>
      </div>
    </div>

    <div class="cat-card pop">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/pop4.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>

        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Cancel!</h5>
        </div>
      </div>
    </div>

    <div class="cat-card rock">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/rock3.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Cancelled!</h5>
        </div>
      </div>
    </div>

    <div class="cat-card rock">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/rock4.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Upcoming!</h5>
        </div>
      </div>
    </div>


    <div class="cat-card pop">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/pop1.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Upcoming!</h5>
        </div>
      </div>
    </div>

    <div class="cat-card edm">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/edm1.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Upcoming!</h5>
        </div>
      </div>
    </div>

    <div class="cat-card pop">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/pop2.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Upcoming!</h5>
        </div>
      </div>
    </div>

    <div class="cat-card pop">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/pop3.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Booked!</h5>
        </div>
      </div>
    </div>

    <div class="cat-card edm">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/edm2.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Inactive!</h5>
        </div>
      </div>
    </div>

    <div class="cat-card edm">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/edm3.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Upcoming!</h5>
        </div>
      </div>
    </div>

    <div class="cat-card edm">
      <div class="card">
        <button type="button" href="eventDetails.html">
          <a class="link" href="eventDetails.html"><img src="img/edm4.jpg" class="card-img-top img-fluid"
              alt="Responsive image"></a>
        </button>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <h5>Cancelled!</h5>
        </div>
      </div>
    </div>

  </div>

  <div class="clr"></div>
{% endblock %}
